@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GIG</h1>
    <p class="lead">GIG is a proof of concept project that is also mt final project as well for class and is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           When first starting the app, the first thing to do is to register and create a profile and add work history then you can look for gigs.
        </p>
        <p><a class="btn btn-default" href="https://www.twitch.tv/driftilab">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>This button </h2>
        <p>I really dont know what extra info to put here atm.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=OspQiTihuAI&t=1s">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sleep</h2>
        <p>You can easily ruin your day by not sleeping or not sleeping enough. jake get sleep!</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Sleep">Learn more &raquo;</a></p>
    </div>
</div>